{
  "DELIMITER":  ",",
  "FIELDS":
  {
    "id":   {"index": 0, "type": "str"},
    "name": {"index": 1, "type": "str"},
    "homepage_url":  {"index": 2, "type": "str"},
    "language":  {"index": 7, "type": "str"},
    "platform":   {"index": 16, "type": "str"},
    "repository_id":   {"index": 20, "type": "str"}
  }
}